body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #e56666; 
}

h2 {
    color: #333; 
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select {
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #4caf50; 
    color: #fff; 
    border: none;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333; }
